@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes animatedBackgroundRight {
    to {
        background-position: -10000px 0;
    }
}
@keyframes animatedBackgroundLeft {
    to {
        background-position: 10000px 0;
    }
}
