// Colours
$scrollbar-track-colour: #201711;
$scrollbar-thumb-colour:#e6ccb2;
$scrollbar-thumb-hover:  #b08968;


// Fonts
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
$quicksand: "Quicksand", sans-serif;

// Assets
$fourth: "../assets/parallax/j1.png";
$third: "../assets/parallax/j2.png";
$second: "../assets/parallax/j3.png";
$first: "../assets/parallax/j4.png";
$chrome-background: "../assets/browser.jpg";