@import "anims";
@import "variables";
@import "./hero";
@import "./parallax";
@import "./nav";
@import "./projects";
@import "./slideshow";
@import "./contact";

.App {
  overflow-x: hidden;
}

* {
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-thumb-colour $scrollbar-track-colour;
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: $scrollbar-track-colour;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $scrollbar-thumb-colour;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-thumb-hover;
  }
}
