$bg-color-carousel: rgb(59, 59, 59);
.carousel-section {
  border: 1px solid $bg-color-carousel;
  height: 100vh;
  background-color: $bg-color-carousel;
  position: relative;
  font-family: $quicksand;
  video {
    height: 50vh;
    margin-top: 50px;
  }
  .left-spacing {
    margin-left: 125px;
  }
  h1,
  p,
  .carousel-link {
    color: white;
    font-weight: 400;
  }
  h1 {
    font-weight: 500;
  }
  .carousel-link {
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none;
  }
  .title {
    margin: 30px 0 0 100px;
  }
  .slide-text {
    margin-bottom: 50px;
    height: 125px;
    margin-left: 50px;
    font-weight: 500;
    p {
      width: 80%;
    }
  }
  .carousel {
    margin-top: 40px;
    .slider-right div,
    .slider-left div {
      border: none !important;
    }
    .slider-right {
      left: 67vw !important;
    }
    .slider-left {
      left: -100px !important;
    }
    .active {
      background-color: $bg-color-carousel !important;
    }
  }
  @media (max-width: $screen-md) {
    .title {
      margin-left: 50px;
    }
    .left-spacing {
      margin-left: 0;
    }
    .slider-single-content {
      box-shadow: none !important;
    }
    .slide-text {
      margin-left: 0;
      p {
        width: 100%;
      }
    }
    video {
      width: 69vw;
      margin-left: 0;
      margin-top: 0px;
      height: auto;
    }
    .active {
      background-color: $bg-color-carousel !important;
    }
  }
}
