.hero {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(39, 39, 39);
  overflow: hidden;
  .browser {
    position: relative;
    width: 50vw;
    min-height: 100vh;
    background-image: url($chrome-background);
    background-size: cover;
    .cat {
      position: absolute;
      height: calc(2em + 20vh + 3vw);
      left: calc(1em + 1vw);
      bottom: 0;
    }
    .love {
      position: absolute;
      height: calc(3em + 20vh + 2vw);
      bottom: calc(6em - 3vh);
      left: calc(10em + 3vw);
    }
  }
  .terminal {
    font-size: 2em;
    font-family: "Courier New";
    color: rgb(255, 210, 210);
    background-color: #302d2d;
    position: relative;
    min-height: 100vh;
    &:after {
      content: "|";
      animation: blink 500ms linear infinite alternate;
    }
    .variable-type {
      color: #f08080;
    }
    .variable-name {
      color: #f4978e;
    }
    .key {
      margin-left: 2em;
      color: #f8ad9d;
    }
    .value {
      color: #fbc4ab;
    }
    .component {
      color: #ffdab9;
    }
    @media (min-width: 768px) {
      width: 50vw;
    }
    @media (min-width: 375px) {
      padding: 1em;
      padding-left: calc(1em + 2vw);
      padding-top: calc(1em + 3vh);
    }
  }

  .mobile-cat {
    height: 8em;
    position: absolute;
    bottom: 0;
    right: 0;
    @media (min-height: 675px) and (min-width: 362px) {
      height: calc(10em + 4vh);
    }
  }
  @media (min-height: 545px) {
    height: 80vh;
  }
}
