$fourth: "../assets/parallax/j1.png";
$third: "../assets/parallax/j2.png";
$second: "../assets/parallax/j3.png";
$first: "../assets/parallax/j4.png";

.parallax {
    width: 100vw;
    height: 100vh;
    position: relative;
    &--wrapper {
        position: absolute;
        transition: top 1s ease-in-out;
    }
    &--fourth {
        background-image: url($fourth);
        animation: 500s linear infinite;
        z-index: -1;
    }
    &--third {
        background-image: url($third);
        background-repeat: repeat;
        animation:  800s linear infinite;
        z-index: -1;
    }
    &--second {
        background-image: url($second);
        animation:  1100s linear infinite;
        z-index: -1;
    }
    &--first {
        background-image: url($first);
        z-index: -1;
    }
    .pos {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-size: auto 100%;
    }
    img {
        position: absolute;
        height: 10em;
        z-index: 1;
        // transition: top 1ms ease-in-out;
    }
    h1{
        // z-index: 5;
        // position: fixed;
        color: white;
        text-align: center;
        position: relative;
        bottom: 5em;
    }
    .animateBackgroundRight{
        animation-name: animatedBackgroundRight;
    }
    .animateBackgroundLeft{
        animation-name: animatedBackgroundLeft;
    }
}

@keyframes animatedBackgroundRight {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 0;
    }
}

@keyframes animatedBackgroundLeft {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}
